.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw;
    height: 570px;
    background-color: #FFF;
  
    gap: 20px;
  
    // padding: 47px 0 47px;
  
    -webkit-box-shadow: 3px 0px 22px -7px rgba(33, 33, 33, 0.24);
    -moz-box-shadow: 3px 0px 22px -7px rgba(33, 33, 33, 0.24);
    box-shadow: 3px 0px 22px -7px rgba(33, 33, 33, 0.24);
    
    h3{
        margin: 0;
        margin-bottom: 55px;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
  
    &__terms {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 404px;
      margin-bottom: 55px;
      p {
          font-size: 14px;
          margin: 0 4px;
      }
  
    }
  
  }
  

  @media screen and (max-width: 769px){
    .form {
        width: 100vw;

    }

    .form__terms {
        width: 80vw;
    
      }


  }