.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 518px;

  padding: 47px 0 47px;

  -webkit-box-shadow: 3px 0px 22px -7px rgba(33, 33, 33, 0.24);
  -moz-box-shadow: 3px 0px 22px -7px rgba(33, 33, 33, 0.24);
  box-shadow: 3px 0px 22px -7px rgba(33, 33, 33, 0.24);

  &__img {
    width: 104px;
    img{
        width: 100%;
    }

  }

  p{
    text-align: center;
    font-size: 16px;
    width: 70%;
    span{
        font-weight: 700;
    }
  }



}
